.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.info {
    flex: 1;
}
.name {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 5px;
}
.username {
    font-size: 1.3rem;
}
.check {
    font-size: 1.1rem;
    color: var(--check-icon);
}